// Common colors´
$prussian-blue: #003057;
$midnight-blue: #c6dae7;
$seagull: #7bafd4;
$blue-gray: #6699cc;
$tomato: #ff5c39;
$roti: #bc9a3c;
$color-white: #c6dae7;
$twilight-lavender: #8b5374;
$lavender-purple: #8f83b4;
$perfume: #c4a5d5;
$iron: #91852c;
$lemon-ginger: #91852c;
$field-drab: #73531d;
$color-black: mix(black, #033057, 10%);

$color-mix-light: white;
$color-mix-dark: black;

$epot-color-key: 'base' !default;

$color-mix-weight: 12% !global;
$epot-colors: (
  'background': (
    'base': $prussian-blue,
    'light': mix($color-mix-light, $prussian-blue, $color-mix-weight),
    'dark': mix($color-mix-dark, $prussian-blue, $color-mix-weight),
    'darker': mix($color-mix-dark, $prussian-blue, $color-mix-weight * 2)
  ),
  'foreground': (
    'base': $midnight-blue,
    'light': mix($color-mix-light, $midnight-blue, $color-mix-weight),
    'dark': $seagull,
    'darker': darken($seagull, 30%)
  ),
  'primary': (
    'base': $tomato,
    'light': mix($color-mix-light, $tomato, $color-mix-weight),
    'dark': mix($color-mix-dark, $tomato, $color-mix-weight)
  ),
  'secondary': (
    'base': $roti,
    'light': mix($color-mix-light, $roti, $color-mix-weight),
    'dark': mix($color-mix-dark, $roti, $color-mix-weight)
  ),
  'white': (
    'base': $color-white,
    'light': mix($color-mix-light, $color-white, $color-mix-weight * 5),
    'lighter': mix($color-mix-light, $color-white, $color-mix-weight * 8)
  ),
  'black': (
    'base': $color-black
  )
);

$epot-opacity: (
  'light': 0.8,
  'dark': 0.4
);

@function epot-color($name: 'primary', $variant: $epot-color-key, $opacity: 1) {
  $color: null;

  // Get the color spectrum
  $color-spectrum: map-get($epot-colors, $name);

  // Get the color variant
  @if $color-spectrum {
    $color: map-get($color-spectrum, $variant);
  }

  // Get the alpha setting
  $alpha: if(
    type-of($opacity) == 'number',
    $opacity,
    map-get($epot-opacity, $opacity)
  );

  // Set the alpha of the color
  @if $alpha {
    $color: rgba($color, $alpha);
  }

  @return $color;
}
