@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:600,700');

@font-face {
  font-family: 'Whitney';
  src: local('Whitney.ttf') format('ttf'),
    url('~/assets/style/fonts/whitney/Whitney-Book.woff') format('woff');
}

@font-face {
  font-family: 'Whitney';
  src: local('Whitney') format('ttf'),
    url('~/assets/style/fonts/whitney/Whitney-Black.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Whitney';
  src: local('Whitney') format('ttf'),
    url('~/assets/style/fonts/whitney/Whitney-Bold.woff') format('woff');
  font-weight: 500;
}
