@import './fonts.scss';
@import './colors.scss';

html {
  font-size: 18px;
  overflow-y: auto;
}

body {
  background-color: epot-color('background');
  color: epot-color('white');
  font-family: 'Whitney' !important;
  font-size: 1rem;
}

p {
  line-height: 1.35;
  margin-block-end: 1rem;
  margin-block-start: 1rem;
}
